build
.coverage

# Packages
*.py[cod]
*.egg
*.eggs
*.egg-info
build
__pycache__

# Developer tools
.ropeproject
.idea
.vscode
.venv
**/.project
**/.pydevproject
**/.settings
**/dist

# Miscellaneous
.DS_Store

# Deployment
PrivateRules.mak
Chart.lock
**/charts/*.tgz
**/charts/*/environments/templated
local.y*ml
manifests.yaml
local_*config.y*ml
pytest.stdout

**/.eslintcache

# Testing
metrics.prom