[submodule ".make"]
	path = .make
	url = https://gitlab.com/ska-telescope/sdi/ska-cicd-makefile.git
[submodule "external/headlamp-official-plugins"]
	path = external/headlamp-official-plugins
	url = https://github.com/headlamp-k8s/plugins.git
